# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
MLPROJECT/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Screenshots folder (keep folder, ignore extra images if desired)
# photo/*
# !photo/ss.jpg